<div class="container mb-4">
  <div>
    <div class="show-container mb-2">
      <div>
        <h2>
          <%= @cocktail.name %>
          <%= link_to edit_cocktail_path(@cocktail.id) do %>
            <span class='fas fa-edit icon ml-2'></span>
          <% end %>
          <button id="swal-del-cocktail"><span class='fas fa-trash-alt icon ml-2'></span></button>
          <%= link_to "", cocktail_path(@cocktail.id), method: :delete, id: "del-cocktail", class: "d-none" %>
        </h2>
      </div>
      <div class="show-cont-image">
        <%= cl_image_tag @cocktail.photo.key, height: 250, width: 375, crop: :fill %>
      </div>
    </div>
    <div class="dose-info">
      <div class="half">
        <div class="show-container dose-list mb-2">
          <table>
            <% @cocktail.doses.each do |d| %>
              <tr>
                <td><%= d.ingredient.name %> - <%= d.description %></td>
                <td>
                  <button class="swal-del-dose" data-id="<%= d.id %>"><span class='fas fa-trash-alt icon ml-2'></span></button>
                  <%= link_to "", cocktail_dose_path(@cocktail.id, d.id), method: :delete, remote: true, id: "del-dose-#{d.id}", class: "del-dose d-none" %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
        <div class="show-container mb-2">
          <%= render "doses/new" %>
        </div>
      </div>
      <div class="half">
        <div>
          <nav class="nav nav-tabs" role="tablist">
            <a class="nav-link active" id="review-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="review" aria-selected="true">Reviews</a>
            <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
          </nav>
        </div>
        <div class="show-container dsp-tabs">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="reviews" role="tabpanel" aria-labelledby="home-tab"><%= render "./shared/reviews"%></div>
            <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="profile-tab"><%= render "./shared/history"%></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>