<div class="container">
  <div>
    <h2><%= @cocktail.name %> details</h2>
    <ol>
      <% @cocktail.doses.each do |d| %>
        <li>
          <%= d.ingredient.name %> - <%= d.description %>
          <%= link_to cocktail_dose_path(@cocktail.id, d.id), method: :delete, data: {confirm: "Are you sure ?"} do %>
            <span class='fas fa-trash-alt'></span>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>

  <div>
    <%= render "doses/new" %>
  </div>
</div>